**/*.tif
**/*.png
**/*.jpg
**/*.jpg*
**/*.jpeg
**/*.npz

**/*.dbf
**/*.cpg
**/*.fix
**/*.prj
**/*.shp
**/*.shx
doodler_backup/
nsf/
segmentation_gym/
dash_doodler/
!pycogss_flowchart.png
!readme_assets/*