**/*.tif
**/*.png
**/*.jpg
**/*.jpg*
**/*.jpeg
**/*.npz

**/*.dbf
**/*.cpg
**/*.fix
**/*.prj
**/*.shp
**/*.shx
**/*.mat
doodler_backup/
segmentation_gym/
dash_doodler/
nsf/
!pycogss_flowchart.png
!readme_assets/*